@font-face{
  font-family: jeopardy;
  src: url(gyparody_hv.ttf);
}

.jumbotron {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 8%;
  background-color: #081dd5;
}

.jumbotron p{
  color:  #fffd19;
}

#round {
  border-radius: 5px;
  width: 500px;
  border-width: thin;
}

#title {
  font-weight: 700;
  font-size: 50px;
  color: #fffd19;
}

table {
  table-layout: fixed;
  width: 150px;
}

th {
  text-align: center;
}

#text {
  padding-top: 1px;
}

h4 {
  font-style: italic;
}

#well {
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  padding: 2%;
}

body {
  background-color: #081dd5;
  font-family: jeopardy;
  color: #fffd19;
}

input {
  color: black;
  font-family: jeopardy;
}

.board_tile{
  font-size: 25px;
  color: #fffd19;
  display: block;
  padding: 5px 20px;
  text-align: center;
}

.board_tile_clicked{
  font-size: 25px;
  color: #081dd5;
}

#board{
  font-size: 20px;
}
