<!DOCTYPE html>
<html>

  <!-- base template -->

  <head>
    <!-- title -->
    <title> {% block title %} Jeopardy {% endblock %} </title>

    <link rel="icon" href="static/jeopardy.jpg" type="image/jpg">

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>

  <body bg-color="Blue">

    <!-- body -->
    {% block body%}

    {% endblock body%}

    <!-- footer - shouldn't really change -->
    {% block footer %}
      <center>
        <div class="footer text-center muted">Copyright © 3.14 Buddies 2017</small>
      </center>
    {% endblock %}
  </body>
</html>
