{% extends "base.html" %}

{% block title %}
  Board - Jeopardy!
{% endblock %}

{% block body %}
  <center> <h1> Jeopardy! </h1> </center>
  <br>
  <table class = "table">
    <tbody>
      {% for category in game_board %}
        <tr>
          <th scope="row" class="bg-primary"> {{ category }} </th>
          {% for value in game_board[category] %}
            <td> <a href="/question/{{category}}/{{ value }}">{{ value }}</a></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
