{% extends "base.html" %}

{% block title %}
  Question!
{% endblock %}

{% block body %}
  <center>
    <p><h1>Question Time: {{category}} for {{moolah}}</h1></p>
    <p><h3>{{question}}</h3></p>

    <form action="/answer/{{category}}/{{moolah}}", method = "GET">
      <div class="form-group">
        <label for="answer">Answer:
          <input type="text" placeholder="Obvious Answer #{{ range(1,50)|random() }}" name="answer">
        </label>
        <input type="submit">
      </div>
  </center>
{% endblock %}
